@font-face {
    font-family: 'Robot';
    src: url("../../app/assets/fonts/fobot/Sdglitchrobotdemo-GOPdO.ttf");
}

@font-face {
    font-family: 'Robot2';
    src: url("../../app/assets/fonts/fbot2/SdglitchdemoRegular-YzROj.ttf");
}


.signIn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 500px;
    background: #ffffff0a;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.261);
    overflow: hidden;
    backdrop-filter:  blur(5px);
    
}

.signIn .signInBg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}    

.signIn span:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.7) 100%);
    border-radius: 5%;
    z-index: -1;
    transform : rotate(-55deg) translateX(-100px) translateY(-200px);
}

.signIn .model1 {
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    left: 200px;
    bottom: -185px;
}

.logo {
    position: absolute;
    top: calc(50% + 100px);
    left: calc(50% + 170px);
    transform: translate(-50%, -50%);
    height: 300px;
}

.signIn h1.title {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(240, 240, 240);
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Robot';
}

.signIn h2.subtitle {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
    display: none;
}
.anotherContainer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    /* width: 100%;
    height: 100%; */
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgba(221, 0, 0, 0.628); */
}
.signIn .anotherContainer .sign {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px;
    /* top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* width: 200px; */
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.628);
    border-radius: 50%;
    backdrop-filter: blur(1px);
    background: #ffffff00;
    box-shadow: inset 0 0 10px 0px #000000b3;
    transform: scale(1.2);
    transform-style: preserve-3d;
    perspective: 1000px;
}

.signIn .anotherContainer .sign:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.4);
}

.signIn .anotherContainer .sign:active {
    transition: 0s ease-in-out;
    transform: scale(1.1);
}


.signIn .anotherContainer .sign img {
    height: 60%;
    object-fit: cover;
}
.signIn .anotherContainer .sign:hover img {
    transform: scale(1.2);
    /* transition: 0.1s ease-in-out; */
}
.signIn .anotherContainer .sign:active img {
    transform: scale(1);
    transition: 0.1s ease-in-out;
}

.form form {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -150%);
    width: 500px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
}
.form form div {
    position: relative;
    /* top: 100%; */
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
}
/* .form div form {
    position: relative;

    padding: 20px 0;
} */

.form2 form div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
    /* border: 1px solid rgba(255, 255, 255, 0.1); */
    /* background: #ffffff00; */
    /* backdrop-filter: blur(5px); */
    /* border-radius: 50px 0px 100px 0px ; */
    align-items: center;
    justify-content: space-between;
    padding: 0 0;
    gap: 0px;
}

.form form input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #ffffff00;

    backdrop-filter: blur(5px);
    color: white;
    font-size: 20px;
    border-radius: 50px 0px 100px 0px ;
    outline: none;
}

.form form input.email{
    display: none;
}

.form form .submit {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: #9000ff25;

    backdrop-filter: blur(5px);
    color: rgb(185, 144, 255);
    font-size: 20px;
    border-radius: 50px 0px 100px 0px ;
    font-family: '';
    outline: none;
}

.form form .submit2 {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    background: #ffffff0a;

    backdrop-filter: blur(5px);
    color: rgba(185, 144, 255, 0.556);
    font-size: 20px;
    border-radius: 50px 0px 100px 0px ;
    font-family: '';
    outline: none;
}

.form2 form .submit {
    width: 50%;
    border-radius: 100px 0px 100px 0px ;
}

.form2 form .submit2 {
    width: 50%;
    border-radius: 100px 0px 100px 0px ;
}

.form form .submit:hover, .form form .submit2:hover {
    box-shadow: 0 0 10px 0px #00000089;
    background: #c982ff45;
    backdrop-filter: blur(5px);
    color: rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
    transform: scale(1.01);

}

.form form .submit:active, .form form .submit2:active {
    box-shadow: 0 0 10px 0px #00000089;
    background: #c982ff45;
    backdrop-filter: blur(5px);
    color: rgb(255, 255, 255);
    transition: 0s ease-in-out;
    transform: scale(0.98);

}

.form form input::placeholder {
    font-size: 20px;
}


.signIn em {
    position: absolute;
    bottom: 20%;
    left: 45%;
    width: 30%;
    transform: translate(-100%, 100%);
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    border-top: 2px solid rgba(215, 215, 215, 0.307);
    height: 100px;
    border-radius: 50% 0 0 0;
    z-index: -3;
}

.signIn em::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(35%, -150%);
    width: 100%;
    height: 1px;
    border-bottom: 2px solid rgba(215, 215, 215, 0.307);
    height: 100px;
    border-radius: 0 0 50% 0;
    z-index: -3;
}

.signIn label {
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    /* border: 1px solid rgba(215, 215, 215, 0.307); */
}